.lineup-wrapper {
  flex: 1;
  background: #020C7E;
  width: 300px;
  height: 645.8px; 
}

.lineup-title {
  @include flexProps($dir: row, $just: center, $align: center);
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: $font-stack-primary;
  font-size: 14px;
  font-weight: $weight-m;
  background-color: #FEC12D;
  height: 40px;
  line-height: 40px;
}

.select-style {
  padding-top: 12.5px;
  color: black;
}

.starter-position {
  padding-bottom: 7.5px;
}

.custom-select {
  @include flexProps($dir: column, $just: center, $align: center);
  padding-top: 7.5px;
  font-family: $font-stack-primary;
  font-size: 11px;
  color: $white;
}

.custom-select select:focus {
  -webkit-box-shadow: 0 0 3px 1px #FEC12D;
  -moz-box-shadow: 0 0 3px 1px #FEC12D;
  box-shadow: 0 0 3px 1px #FEC12D;
}

.custom-select:after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 30px;
  padding: 0 7px;
  color: white;
  pointer-events:none;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}

select {
  width: 150px; 
  height: 25px;
  border: 1px solid #e3e3e3; 
  border-radius: 3px; 
  background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat; 
  color: $white; 
  font-family: $font-stack-primary;
  font-size: 12px; 
  line-height: 12.5px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  text-align-last: left;
  padding-left: 5px;
  direction: ltr;
  outline: none;
}

select::-ms-expand { 
  display: none; 
} 

select:disabled::-ms-expand { 
  background: #f60; 
} 