.top-wrapper {
    @include flexProps($dir: row, $just: center, $align: center);
    background-color: #000080;
    height: 50px;
}

.app-title {
    font-family: $font-stack-primary;
    font-weight: $weight-m;
    color: $white;
    font-size: 16px;
}