<template>
  <div class="lineup-wrapper">
    <div class="heading">
      <span class="lineup-title">Lineup</span>
    </div>
    <ul class="select-style">
      <li repeat.for="starter of starters" class="starter ${starter.id} custom-select">
        <h4 class="starter-position">${starter.id}</h4>
        <select id=${starter.id} value.bind="changedVal" change.delegate="dropdownChanged(starter.id, changedVal)">
          <option selected value></option>
          <option repeat.for="player of players" id=${player.email}>${player.firstName.split("")[0]}. ${player.lastName}</option>
        </select>
      </li>
    </ul>
  </div>
</template>