// ================================= 
//   APP
// =================================

.main-container {
  @include flexProps($dir: row, $just: center, $align: center);
  padding: 20px;
  width: 100%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}