// ================================= 
//   TACTICS
// =================================

.tactics-wrapper {
  width: 400px;
  height: 645.8px;
  .tactics-title {
    @include flexProps($dir: row, $just: center, $align: center);
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: $font-stack-primary;
    font-size: 14px;
    font-weight: $weight-m;
    background-color: #FEC12D;
    height: 40px;
    line-height: 40px;
  }
  .tactics-pitch {
    width: 400px;
    height: 605.8px;
    background-image: url("../../assets/images/football_pitch.png");
    background-size: 400px 605.8px;
    .container {
      @include flexProps($dir: row, $just: space-evenly, $align: center);
      .starter-container {
        @include flexProps($dir: column, $just: space-evenly, $align: center);
        width: auto;
        height: 100px;
        &.goal {
          margin-top: 5px;
        }
        &.defence {
          margin-top: 75px;
        }
        &.midfield {
          margin-top: 110px;
        }
        &.attack {
          padding-top: 21px;
        }
        .starter.wrapper {
          @include flexProps($dir: row, $just: center, $align: center);
          width: 50px;
          height: 50px;
          background-color: #FEC12D;
          text-align: center;
          line-height: 50px;
          border-radius: 100px;
          border: 2px solid #020C7E;
          span {
            font-family: $font-stack-primary;
            font-size: 14px;
            font-weight: $weight-s;
            color: #020C7E;
          }
        }
        .starter-name {
          width: 75px;
          height: 25px;
          color: #020C7E;
          text-align: center;
          font-family: $font-stack-primary;
          font-size: 12px;
          font-weight: $weight-m;
          padding-top: 12px;
          .full-name {
            &.show {
              visibility: visible;
            }
            &.hide {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}