// ================================= 
//   VARIABLES
// =================================

// Google Font
@import url('//fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

// Standard Color
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// Font Family
$font-stack-primary: 'Quicksand', 'serif';

// Font Weight
$weight-xs: 300;
$weight-s: 400;
$weight-m: 500;
$weight-l: 600;
$weight-xl: 700;
$weight-xxl: 800;